 .u-section-1 {
  min-height: 917px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 917px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 18px;
}

.u-section-1 .u-image-1 {
  width: 595px;
  height: 718px;
  margin: 88px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 917px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 40px 32px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 756px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 424px;
    height: 512px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 753px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1333px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 314px;
    height: 379px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 647px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 597px;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 416px;
  width: 752px;
  margin: 20px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 13px;
}

.u-section-2 .u-back-image-1 {
  width: 448px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 13px;
}

.u-section-2 .u-back-image-2 {
  width: 448px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 13px;
}

.u-section-2 .u-back-image-3 {
  width: 448px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 13px;
}

.u-section-2 .u-back-image-4 {
  width: 448px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 13px;
}

.u-section-2 .u-back-image-5 {
  width: 448px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}